
@{
    ViewBag.Title = "Admin Main Menu";
}

<h2>Admin Main Menu</h2>

<div>
    <br />
    <br />
    @Html.ActionLink("Customers", "Customers", "AdminMenu")
    <br />
    <br />
    @Html.ActionLink("Administrators", "Index")
    <br />
    <br />
    @Html.ActionLink("Extras", "Extras","AdminMenu")
    <br />
    <br />
    @Html.ActionLink("Vehicle", "Vehicles", "AdminMenu")
</div>

